html {
	font-size: 2.5vh;
	font-family: sans-serif;
	line-height: 1.5;
	--dark-grey: #313131;
	--lite-grey: #B0B0B0;
/*	--link-color: #82bcff; 
	--link-color-hover: #82ff86;
	--main-color: #4c7dff;
	--main2-color: #49cd4d; 
	--back-color: #FFFFFF;*/
	--link-color: #e67cf9; 
	--link-color-hover: #fffb71;
	--main-color: #5f026f;
	--main2-color: #f5f31c; 
	--back-color: #FFFFFF;
}
body {
	color: var(--dark-grey);
	width: 60vw;
	margin: auto;
}
a{
	text-decoration: none;
	transition: all ease .3s;
	box-shadow: inset 0 -6px 0 var(--link-color);
	color: inherit;
	border-bottom: none !important;
}
a:hover {
	box-shadow: inset 0 -6px 0 var(--link-color-hover);
}
p {
	margin: 0 0 .5rem 0;
}



header {
	font-size: 1rem;
	margin-top: 3vh;
	margin-bottom: 10vh;
}
header>div {
	color: var(--lite-grey);
}
nav {
	font-size: 1.7rem;
	display: flex;
	justify-content: space-between;
}
nav>div.menu {
	display: flex;
}
nav>div.menu>a {
	margin-left: 2vh;
}
nav a {
	color: var(--main-color);
	box-shadow: none;
}
nav a:hover {
	box-shadow: inset 0 -6px 0 var(--main-color);
}



main {
	margin-bottom: 10vh;
	font-size: 1.3rem;
}
.post{
	padding: 2rem;
	margin-bottom: 3rem;
	box-shadow: 1px 5px 15px var(--lite-grey);
}
.post-date {
	font-size: 1rem;
	padding: 1vh;
	display: inline-block;
	color: var(--back-color);
	background-color: var(--main-color); 
}
.post-text {
	margin: .5rem 0 2rem 0;
}
.post-text img{
	width: 100%;
	margin: 1rem 0;
}



footer {
	font-size: 1rem;
	padding: 5vh 0; 
}



@media screen and (orientation: portrait) {
	html {
		font-size: 2vh;
	}

	body {
		width: 90vw;		
		margin: auto;
	}

	nav {
		font-size: 1.4rem;
	}

	main, footer{
		font-size: 1.2rem;
	}
}