.mdc-layout-grid{
	height: 100vh;
	padding: 5vh;
}

#main-diagram, .mdc-layout-grid__inner{
	height: 100%;
}

#settings{
	padding: 0 1rem;
}

@media only screen and (orientation: portrait) {
	mdc-layout-grid__cell{
		height: 45vh;
	}
	.mdc-layout-grid{
		padding: 0;
	}
}

form{
	display: flex;
	flex-direction: column;
}


.mdc-layout-grid__inner div{
	overflow: auto;
}